@model ThaiHoaiDu.Models.Spham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout/QuanLy.cshtml";
    ThaiHoaiDu.Models.NguoiDung nd = (ThaiHoaiDu.Models.NguoiDung)Session["TaiKhoan"];
    if (nd != null && nd.VaiTro == false)
    {
        Response.Redirect("/QuanLy/Index");
    }
}
<div class="inner-block">
    <div class="product-block">
        <div class="pro-head" style="width: 100%; height: 500px">
            <center style="font-weight: bold"><h3><a href="/SanPham/Index"><i class="fas fa-chevron-circle-left"></i>&nbsp;</a>Thêm sản phẩm</h3><a href=""></a></center>
            @using (Html.BeginForm("Create", "SanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    <div class="alert alert-danger" style="color: black">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <b class="control-label col-md-2"><i class="fas fa-blender-phone">&nbsp;</i>Tên sản phẩm</b>
                            <div class="col-md-10">
                                <input type="text" name="TenSanPham" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="control-label col-md-2"><i class="fas fa-dollar-sign">&nbsp;</i>Giá sản phẩm</b>
                            <div class="col-md-10">
                                <input type="number" name="Gia" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="control-label col-md-2"><i class="fas fa-images">&nbsp;</i>Ảnh sản phẩm</b>
                            <div class="col-md-10">
                                <input type="file" name="fileimg" class="btn btn-danger" value="Chọn ảnh" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="control-label col-md-2"><i class="fab fa-audible">&nbsp;</i>Phân biệt</b>
                            <div class="col-md-10">
                                <select name="PhanBiet" class="btn btn-danger" style="width: 400px">
                                    <option value="true">Lon</option>
                                    <option value="false">Ly</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="control-label col-md-2"><i class="fas fa-align-justify">&nbsp;</i>Phân biệt</b>
                            <div class="col-md-10">
                                @Html.DropDownList("MaDanhMuc", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <center>
                        <div class="form-group">
                            <div class="">
                                <input type="submit" value="THÊM" class="btn btn-danger" style="width: 20%; height: 50px" />
                            </div>
                        </div>
                    </center>
                </div>
            }
        </div>
    </div>
</div>
