
@using ThaiHoaiDu.Models;
@model List<DanhMuc>
@{ int idb = (int)Session["IDBAN"];}
<form action="@Url.Action("Index", "ThemMon")" style="margin-left: 1%">
    <input type="hidden" name="IDBan" value="@idb"/>
    <select name="id" class="btn btn-default">
        <option value="0">Tât cả</option>
        @foreach (var item in Model)
        {
            <option value="@item.MaDanhMuc"> @item.TenDanhMuc</option>
        }
    </select>
    <input type="submit" value="Lọc" class="btn btn-default" />
</form>
<br />
