@using ThaiHoaiDu.Models;
@model List<CTHD>

@{
    ThaiHoaiDu.Models.NguoiDung nd = (ThaiHoaiDu.Models.NguoiDung)Session["TaiKhoan"];
    if (nd != null && nd.VaiTro == false)
    {
        Response.Redirect("/QuanLy/Index");
    }
    QuanLyQuanNuocEntities db = new QuanLyQuanNuocEntities();
    int demhd = 0;
    foreach (var item in db.HoaDons.ToList())
    {
        foreach (var jtem in Model)
        {
            if (item.MaHD == jtem.MaHD)
            {
                demhd++;
                break;
            }
        }
    }
}
    <div class="dygno">
        <h2 style="margin-left: 20%">Thống kê Năm</h2>
        <div style="width: 20px; height: 20px; background-color:#337AB7"></div>Số hóa đơn trong 1 bàn
        <div style="width: 20px; height: 20px; background-color:#929292"></div>Số khách đã dùng nước
        <canvas id="doughnutnam" height="300" width="470" style="width: 470px; height: 300px;"></canvas>
        <h2 style="color: black; margin-left: 15%">Doanh thu: <b style="color: red">@{ float thanhtien = (float)Model.Sum(t => t.ThanhTien);} @thanhtien.ToString("#,##0")</b> VNĐ</h2>
        <script>
		var doughnutData = [
		{
		value: @demhd,
		color:"#337AB7"
		},
		{
		value : @Model.Sum(t => t.SoLuong),
		color : "#929292"
		},
		];
		new Chart(document.getElementById("doughnutnam").getContext("2d")).Doughnut(doughnutData);
        </script>
        <b>Số lượng nước đã bán:</b><br />
        @foreach (var item in db.Sphams.ToList())
        {
            foreach (var jtem in Model)
            {
                int maSP = jtem.Spham.MaSanPham;
                if (item.MaSanPham == maSP)
                {
                    List<CTHD> sp = Model.Where(t => t.Spham.MaSanPham == maSP).ToList();
                    foreach (var ktem in sp)
                    {
                        <span>@item.TenSanPham: @sp.Sum(t => t.SoLuong)</span><br />
                        break;
                    }
                    break;
                }
            }
        }
    </div>
