
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/QuanLy.cshtml";
    ThaiHoaiDu.Models.QuanLyQuanNuocEntities db = new ThaiHoaiDu.Models.QuanLyQuanNuocEntities();
    int banTrong = db.Bans.Where(t => t.TinhTrang == 1).ToList().Count;
    int banSD = db.Bans.Where(t => t.TinhTrang == 0).ToList().Count;
}

    <div class="inner-block">
        <!--market updates updates aa-->
        <div class="market-updates">
            <div class="col-md-4 market-update-gd">
                <div class="climate-grid3">
                    <div class="popular-brand">
                        <div class="col-md-6 popular-bran-right" style="background-color: darkgreen">
                            <h3>@banSD</h3>
                        </div>
                        <div class="col-md-6 popular-bran-left">
                            <h3 style="font-weight: bold">Bàn có người</h3>
                            <h4>Hiện tại: <b style="color: red">@banSD bàn</b></h4>
                            <p>Số bàn có người và cần tính tiền.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 market-update-gd">
                <div class="climate-grid3">
                    <div class="popular-brand">
                        <div class="col-md-6 popular-bran-right" style="background-color: currentColor">
                            <h3>@banTrong</h3>
                        </div>
                        <div class="col-md-6 popular-bran-left">
                            <h3 style="font-weight: bold">Bàn trống</h3>
                            <h4>Hiện tại: <b style="color: red">@banTrong bàn</b></h4>
                            <p>Số bàn chưa có người.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 market-update-gd">
                <div class="climate-grid3">
                    <div class="popular-brand">
                        <div class="col-md-11 popular-bran-left">
                            <h3>Tổng doanh thu 1 ngày</h3>
                            <h4 id="hvn" style="font-size: 30px">
                            </h4>
                            <p style="font-size: 17px">0 vnđ.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--market updates end here-->
        <!--mainpage chit-chating-->
        @{ if (Session["idbanngoi"] == null) { Session["idbanngoi"] = 0; }
        }
        @Html.Action("BanNgoi", "QuanLy", new { id = int.Parse(Session["idbanngoi"].ToString())})
        <!--main page chit chating end here-->
        <!--main page chart start here-->
        <!--main page chart layer2-->


        <div class="chart-layer-2">



            <div class="clearfix"> </div>
        </div>

        <!--climate start here-->
        <!--climate end here-->
    </div>


    

