@using ThaiHoaiDu.Models;
@model List<Spham>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layout/QuanLy.cshtml";
    var chai = " Chai";
    var lon = " Lon";
}
<div class="chit-chat-layer1">
    <!--inner block start here-->
    <div class="inner-block">
        <div class="product-block">
            <div class="pro-head">
                <h2>Sản phẩm</h2>
                @foreach (var item in Model)
                {
                    <div class="col-md-3 product-grid">
                        <div class="product-items">
                            <div class="project-eff">
                                <div id="nivo-lightbox-demo"> <p> <a href="images/pro1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                                <img class="img-responsive" src="~/Content/Layout/images/@item.Anh" alt="" style="width: 200px; height: 250px">
                            </div>
                            <div class="produ-cost">
                                <h4 style="height: 50px; width: 100%">@item.TenSanPham</h4>
                                <h5>
                                    @item.Gia vnđ/@if (item.PhanBiet == true)
                                {@chai;
                            }
                            else
                            {@lon;
                        }
                                </h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--inner block end here-->

    <div class="clearfix"> </div>
</div>

