@model IEnumerable<ThaiHoaiDu.Models.Ban>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/QuanLy.cshtml";
    ThaiHoaiDu.Models.NguoiDung nd = (ThaiHoaiDu.Models.NguoiDung)Session["TaiKhoan"];
    if(nd != null && nd.VaiTro == false)
    {
        Response.Redirect("/QuanLy/Index");
    }
}

    <div class="inner-block">
        <div class="product-block">
            <div class="pro-head" style="width: 100%; height: 1100px">
                <p>
                    <a href="/Bans/Create" class="btn btn-danger">THÊM BÀN</a>
                </p>
                <br />
                <table class="table">
                    <tr>
                        <th>
                            <b><i class="fas fa-receipt">&nbsp;</i>Số bàn</b>
                        </th>
                        <th>
                            <b><i class="fas fa-adjust">&nbsp;</i>Tình trạng</b>
                        </th>
                        <th>
                            <b><i class="fas fa-box-tissue">&nbsp;</i>Hiện trạng</b>
                        </th>
                        <th>
                            <b><i class="fas fa-eraser">&nbsp;</i>Công cụ</b>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.SoBan == 0)
                                {
                                    <p>Đem về</p>
                                }
                                else
                                {
                                    <p>Bàn @item.SoBan</p>
                                }
                            </td>
                            <td>
                                @if (item.TinhTrang == 1)
                                {
                                    <p>Không có khách</p>
                                }
                                else
                                {
                                    <p>Có khách</p>
                                }
                            </td>
                            <td>
                                @if (item.HienTrang == true)
                                {
                                    <p>Còn sử dụng</p>
                                }
                                else
                                {
                                    <p>Ngưng sử dụng</p>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.MaBan })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

